# Compiled class file
*.class

# Log file
*.log

# Package Files 
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
dist/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Intellij Idea
.idea/
*.eml
*.iml
*.project
*.classpath

#MS VSCode
.settings/
.vscode/

#Netbeans conf
nb-configuration.xml
